# Blacklisted folders
#################################################
node_modules
.next
azure-pipelines.yml
cypress
cypress.json
# TODO block all env files after we have a working Dockerfile and scripts
.env*
