@import "font";
@import "variables";
@import "~react-big-calendar/lib/css/react-big-calendar.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-regular);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  margin: 0;
  margin: 0;
  color: var(--color-black-90);
  min-width: 320px;
  word-break: break-word;
}

#root {
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
}

#__next {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

// utils

// adjust kortos svg similary to footer
.koros > svg {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 8028px;
}

.koros {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-bold);
}

// align items for example icon + text vertically
.align-vertically {
  display: flex;
  align-items: center;
}

.margin-left-s {
  margin-left: var(--spacing-s);
}

.margin-top {
  margin-top: var(--spacing-s);
}

a {
  &:visited {
    color: inherit;
  }

  color: var(--color-bus);
  text-underline-offset: 0.1rem;
  text-decoration: none;
}

p {
  line-height: var(--lineheight-l);
}

ul {
  padding-left: var(--spacing-m);

  li {
    line-height: var(--lineheight-l);
  }
}

strong {
  font-family: var(--font-bold);
  font-weight: 700;
}

// cookiehub overrides
.ch2 {
  color: hotpink;
  .ch2-dialog {
    min-width: 260px;
  }
}
