:root {
  --tilavaraus-header-background-color: white;
  --tilavaraus-header-color: rgb(26, 26, 26);
  --tilavaraus-background-color: white;
  --tilavaraus-content-text-color: rgb(26, 26, 26);
  --tilavaraus-footer-background-color: #00005e;
  --tilavaraus-footer-color: #f0f0f0;
  --tilavaraus-cyan: #9ef0de;
  --tilavaraus-gray: #f5f6f8;
  --tilavaraus-blue: #0072c6;
  --tilavaraus-green: #007a64;
  --tilavaraus-yellow: #ffda07;
  --tilavaraus-calendar-selected: var(--tilavaraus-blue);
  --font-regular: HelsinkiGrotesk, var(--font-default);
  --font-medium: HelsinkiGrotesk-Medium, var(--font-default);
  --font-bold: HelsinkiGrotesk-Bold, var(--font-default);
  --tilavaraus-hero-background-color: var(--color-bus);
}
