:root {
  --tilavaraus-header-background-color: white;
  --tilavaraus-header-color: rgb(26, 26, 26);
  --tilavaraus-background-color: white;
  --tilavaraus-content-text-color: rgb(26, 26, 26);
  --tilavaraus-footer-background-color: #00005e;
  --tilavaraus-footer-color: #f0f0f0;
  --tilavaraus-cyan: #9ef0de;
  --tilavaraus-gray: #f5f6f8;
  --tilavaraus-blue: #0072c6;
  --tilavaraus-green: #007a64;
  --tilavaraus-yellow: #ffda07;
  --color-black-8: #f2f2f2;
  --tilavaraus-calendar-selected: #0000ff;
  --tilavaraus-calendar-selected-secondary: #dff7eb;
  --font-regular: HelsinkiGrotesk, var(--font-default);
  --font-medium: HelsinkiGrotesk-Medium, var(--font-default);
  --font-bold: HelsinkiGrotesk-Bold, var(--font-default);
  --tilavaraus-hero-background-color: var(--color-bus);
  --tilavaraus-link-color: var(--color-bus);
  --tilavaraus-link-visited-color: #551a8b;
  --tilavaraus-event-initial-color: #e5e5f9;
  --tilavaraus-event-initial-border: var(--color-bus);
  --tilavaraus-event-reservation-color: #f9e9e8;
  --tilavaraus-event-reservation-border: var(--color-error);
  --tilavaraus-stack-order-modal: 200;
  --tilavaraus-stack-order-sticky-container: 150;
  --tilavaraus-stack-order-tooltip: 100;
  --tilavaraus-stack-order-navigation: 100;
}
