{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_cancelled | sentence | safe }}</mj-text>
    <mj-text>{{ cancel_reason_label | safe }}: {{ cancel_reason | safe }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    {% include "email/html/partials/reservation_price.jinja" %}
{% endblock %}

{% block content_secondary %}
    {% include "email/html/partials/instructions.jinja" %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing.jinja" %}
{% endblock %}
