{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_cancelled | sentence | safe }}</mj-text>
    <mj-text>{{ reason_cancel_label | safe }}: {{ cancel_reason | safe }}</mj-text>
    {% if handled_payment_due_by is not none %}<mj-text>{{ handled_payment_due_by_label | safe }}: {{ handled_payment_due_by }}</mj-text>{% endif %}
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    {% include "email/html/partials/reservation_price.jinja" %}
{% endblock %}

{% block content_secondary %}
    <mj-text><h2>{{ instructions_cancelled_label | safe }}</h2></mj-text>
    <mj-text font-size="16px">{{ instructions_cancelled_html | safe }}</mj-text>
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing.jinja" %}
{% endblock %}
