{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_requires_payment | sentence | safe }}</mj-text>
    <mj-spacer />
    <mj-text>{{ handled_payment_due_by_label | safe }}: {{ handled_payment_due_by }}</mj-text>
    <mj-text>{{ handled_payment_link_html | safe }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    {% include "email/html/partials/reservation_price.jinja" %}
{% endblock %}

{% block content_secondary %}
    {% include "email/html/partials/instructions.jinja" %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/reservation_manage_link.jinja" %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
