# Setup dependabot updates

version: 2

updates:
  # Update GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  # Update frontend dependencies
  - package-ecosystem: "npm"
    directory: "/frontend/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    ignore:
      # major update of React requires a manual review (even if it would pass all checks)
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      # nuka-carousel requires a complete rewrite from v7 to v8
      - dependency-name: "nuka-carousel"
        update-types: ["version-update:semver-major"]
      # apollo requires manual migration to hooks
      - dependency-name: "@apollo/client"
        update-types: ["version-update:semver-major"]
      - dependency-name: "apollo-upload-client"
        update-types: ["version-update:semver-major"]
      # sentry requires installing this. compatible version is 1.X
      - dependency-name: "import-in-the-middle"
        update-types: ["version-update:semver-major"]
    # NOTE can't do a single group for all it will fail to update
    # either just accept multiple PRs or do fine grained groups manually
    groups:
      nextjs:
        patterns:
          - "next"
          - "next-*"
          - "@next/*"
        exclude-patterns:
          - "next-i18next"
      i18n:
        patterns:
          - "i18next"
          - "i18next-*"
          - "react-i18next"
          - "next-i18next"
      hds:
        patterns:
          - "hds-*"
      codegen:
        patterns:
          - "@graphql-codegen/*"
          - "@graphql-tools/*"
      react-hook-form:
        patterns:
          - "react-hook-form"
          - "@hookform/resolvers"
      apollo-graphql:
        patterns:
          - "@apollo/client"
          - "apollo-upload-client"
      typescript:
        patterns:
          - "typescript"
          - "@tsconfig/node20"
          - "@types/node"
      linter:
        patterns:
          - "oxlint"
          - "husky"
          - "prettier*"
          - "stylelint*"
          - "globals"
      testing:
        patterns:
          - "vitest*"
          - "@happy-dom*"
          - "@testing-library*"
          - "@vitejs-*"
          - "vite-*"

  # Update Poetry dependencies
  - package-ecosystem: "pip" # yes, this is correct
    directory: "/backend/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    groups:
      python-dependencies:
        patterns:
          - "*"

  # Update Docker dependencies
  - package-ecosystem: "docker"
    directory: "/backend/docker/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    groups:
      docker-dependencies:
        patterns:
          - "*"
