{{ salutation }}

{{ applicationInAllocation }} {{ viewApplication }} {{ ownApplicationPage }}: {{ my_applications_ext_link }}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
