{{ salutation | safe }}

{{ text_application_in_allocation | safe | sentence }} {{ text_view_application | sentence | safe }}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
