{{ salutation | safe }}

{{ text_application_received | sentence | safe }} {{ text_view_application | sentence | safe }}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
