{{ salutation }} {{ reservee_name }},

{{ reservationUpdated }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{% include "email/text/partials/reservation_price.jinja" %}

{{ reservationInstruction }}
{{ confirmed_instructions }}

{% include "email/text/partials/reservation_manage_link.jinja" %}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
