{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_rejected | sentence | safe }}
{{ rejection_reason_label | safe }}: {{ rejection_reason }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ booking_number_label | safe }}: {{ booking_number }}

{% include "email/text/partials/instructions.jinja" %}

{% include "email/text/partials/closing.jinja" %}
