{{ salutation }} {{ reservee_name }},

{{ reservationRejected }}
{{ rejectionReason }}: {{ deny_reason }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ reservationNumber }}: {{ reservation_number }}

{{ rejectionInstructions }}
{{ cancelled_instructions }}

{% include "email/text/partials/closing.jinja" %}
