{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_rejected | sentence | safe }}
{{ rejection_reason_label | safe }}: {{ rejection_reason }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ check_booking_details_text | safe }}: {{ check_booking_details_url }}

{% include "email/text/partials/closing.jinja" %}
