{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_modified | sentence | safe }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ check_booking_details_text | safe }}: {{ check_booking_details_url }}

{% include "email/text/partials/closing.jinja" %}
