{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_rejected | sentence | safe }}
{{ rejection_reason_label | safe }}: {{ rejection_reason }}

{% include "email/text/partials/application_section_name.jinja" %}

{{ weekday_label | safe }}: {{ weekday_value | safe }}
{{ time_label | safe }}: {{ time_value | safe }}

{{ check_booking_details_text | safe }}: {{ check_booking_details_url | safe }}

{% include "email/text/partials/closing.jinja" %}
