{{ salutation | safe }},

{{ text_staff_reservation_made | safe }}: {{ reservation_name }}.

{{ reservee_name_label | safe }}: {{ reservee_name }}
{{ booking_number_label | safe }}: {{ booking_number }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ text_check_details | safe }}:
{{ staff_reservations_ext_link }}

{% include "email/text/partials/closing_staff.jinja" %}
