{{ salutation | safe }},

{{ text_staff_reservation_requires_handling | safe }}: {{ reservation_name | safe }}

{{ reservee_name_label | safe }}: {{ reservee_name }}
{{ booking_number_label | safe }}: {{ reservation_id }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ text_check_details | safe }}:
{{ staff_reservations_ext_link }}

{% include "email/text/partials/closing_staff.jinja" %}
