*/tests*
broker/
__pycache__
fixtures/
.pytest_cache
.ruff_cache
.github
.idea
.vscode
.mypy_cache
.coverage
.dockerignore
.env.example
.git-blame-ignore-revs
.gitattributes
.gitignore
.pre-commit-config.yaml
azure-pipelines-devtest.yml
azure-pipelines-stageprod.yml
docker-compose.yml
Dockerfile
Dockerfile.local
README.md
sonar-project.properties
