#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!public*
!src*
!nginx*

#################################################
# Whitelisted files
#################################################
!.env
!package.json
!yarn.lock
!tsconfig.json
!LICENSE
