**/node_modules
**/.pnpm
**/.pnp.js
# yarn
**/.yarn
**/.yarnrc.yml

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*


# local certs
**/certificates

# caches
**/.turbo
**/.next

**/dist
**/build
**/out

# local config
**/.env.local
**/.local
**/.idea
**/.vscode

# misc
**/.DS_Store
**/*.pem
**/.eslintcache
**/*.tsbuildinfo
