# environments
**/node_modules
**/.pnpm
**/.pnp.js
**/.venv

# yarn
**/.yarn
**/.yarnrc.yml

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# local certs
**/certificates

# caches
**/.turbo
**/.next
**/__pycache__
**/.cache
**/.pytest_cache
**/.ruff_cache

# builds
**/dist
**/build
**/out

# graphql
**/gql-types.ts
gql-pluck-output/

# local config
**/.env.local
**/.local
**/.idea
**/.vscode
backend/local_settings.py
backend/.env
backend/pytest.ini

# misc
**/.DS_Store
**/*.pem
**/.eslintcache
**/*.tsbuildinfo
*~

# translations
*.mo

# backend generated static
backend/media/
backend/static/
backend/staticroot/

# coverage
.coverage
htmlcov
coverage.xml

# celery
backend/broker*
backend/control*
