backend
.pre-commit-config.yaml
docker-compose.yml
.github/

# auto gen
tilavaraus.graphql

pnpm-lock.yaml

# defaults
**/.git
**/.husky
**/node_modules

# next.js
**/.turbo
**/.next
**/out

# production
**/dist
**/build

# IDE's
.vscode
.vs
.idea
