services:

  db:
    container_name: tvp-db
    image: "postgis/postgis:13-3.3-alpine"
    environment:
      POSTGRES_USER: tvp
      POSTGRES_PASSWORD: tvp
      POSTGRES_DB: tvp
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "tvp"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "127.0.0.1:5555:5432"
    volumes:
      - tvp-postgres:/var/lib/postgresql/data

  redis:
    container_name: tvp-redis
    image: "redis:7-alpine"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "127.0.0.1:6379:6379"

  backend:
    container_name: tvp-core
    image: tvp-core
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        DEPS: main,admin,celery,test,lint
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_ENVIRONMENT: Docker
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - tvp-media:/media
    entrypoint: /tvp/docker/entrypoint_dev.sh

  celery:
    container_name: tvp-celery
    image: tvp-celery
    depends_on:
      backend:
        condition: service_started
      redis:
        condition: service_healthy
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_ENVIRONMENT: Docker
    entrypoint: /tvp/docker/worker.sh

volumes:
  tvp-postgres:
  tvp-media:

networks:
  default:
    name: helsinki
