-c requirements.txt
assertpy==1.1
black
freezegun==0.3.14
pydot==1.4.2
pytest
pytest-cov
pytest-django
pytest-factoryboy
pygraphviz
snapshottest
pip-tools
requests-mock
certifi==2022.12.7 # Pinned because older version has a vulnerability: https://pyup.io/v/52365/f17/
