assertpy==1.1
black==20.8b1
Django==3.1.12
django-auditlog==1.0a1
django-cors-headers==3.6.0
django-enumfields==2.0.0
django-environ==0.4.5
django-extensions==3.0.9
django-extra-fields==3.0.2
django-filter==2.4.0
django-helusers==0.6.0
django-modeltranslation==0.16.1
django-mptt==0.11.0
django-recurrence==1.10.3
django-tinymce==3.2.0
djangorestframework==3.12.2
drf-oidc-auth==0.10.0
drf-spectacular==0.13.0
easy-thumbnails==2.7.1
flake8==3.8.4
freezegun==0.3.14
graphene-django==2.13.0
icalendar==4.0.7
isort==5.6.4
ortools==8.1.8487
psycopg2==2.8.6
pytest-cov==2.10.1
pytest-django==4.1.0
pytest-factoryboy==2.1.0
elastic-apm==5.10.0
sentry-sdk==0.19.5
social-auth-app-django==4.0.0
uWSGI==2.0.19.1
whitenoise==5.2.0
pip-tools
