{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_requires_payment | sentence | safe }}

{{ handled_payment_due_by_label | safe }}: {{ handled_payment_due_by }}
{{ handled_payment_text | safe }}: {{ handled_payment_link | safe }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{% include "email/text/partials/reservation_price.jinja" %}

{% include "email/text/partials/instructions.jinja" %}

{% include "email/text/partials/reservation_manage_link.jinja" %}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
