{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_rejected | sentence | safe }}
{{ reason_label | safe }}: {{ rejection_reason }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{{ booking_number_label | safe }}: {{ reservation_id }}

{{ instructions_rejected_label | safe }}:
{{ instructions_text | safe }}

{% include "email/text/partials/closing.jinja" %}
