{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_approved | sentence | safe }}

{% include "email/text/partials/reservation_basic_info.jinja" %}

{% include "email/text/partials/reservation_price.jinja" %}

{% include "email/text/partials/instructions.jinja" %}

{% include "email/text/partials/reservation_manage_link.jinja" %}

{% include "email/text/partials/closing_polite.jinja" %}

{% include "email/text/partials/automatic_message.jinja" %}
