{{ salutation | safe }} {{ email_recipient_name | safe }},

{{ text_reservation_cancelled | sentence | safe }}
{{ reason_cancel_label | safe }}: {{ cancel_reason }}
{% if handled_payment_due_by is not none %}{{ handled_payment_due_by_label | safe }}: {{ handled_payment_due_by }}
{% endif %}
{% include "email/text/partials/reservation_basic_info.jinja" %}

{% include "email/text/partials/reservation_price.jinja" %}

{{ instructions_cancelled_label | safe }}:
{{ instructions_cancelled_text | safe }}

{% include "email/text/partials/closing.jinja" %}
