{{ salutation | safe }},

{{ text_seasonal_cancelled_by_customer | sentence | safe }}

{{ reason_label | safe }}: {{ cancel_reason | safe }}

{% include "email/text/partials/application_section_name.jinja" %}

{{ view_booking_at_label | safe }}:

{% for series in cancelled_reservation_series %}{{ series.weekday_value | safe }} {{ series.time_value | safe }}
{{ series.reservation_url | safe }}
{% endfor %}
{% include "email/text/partials/closing_staff.jinja" %}
