{{ salutation | safe }},

{{ text_seasonal_cancelled_by_customer | sentence | safe }}

{{ reason_label | safe }}: {{ cancel_reason | safe }}

{% include "email/text/partials/application_section_name.jinja" %}

{{ view_booking_at_label | safe }}:
{% for allocation in allocations %}
{{ allocation.weekday_value | safe }}: {{ allocation.time_value | safe }}
{{ allocation.series_url | safe }}
{% endfor %}
{% include "email/text/partials/closing_staff.jinja" %}
