:root {
  --tilavaraus-admin-brand: #00005e;
  --tilavaraus-admin-blue: var(--color-bus);
  --tilavaraus-admin-blue-dark: #040091;
  --tilavaraus-admin-status-not-handled: #0064b3;
  --tilavaraus-admin-header-background-color: var(--tilavaraus-admin-brand);
  --tilavaraus-admin-header-color: white;
  --tilavaraus-admin-background-color: white;
  --tilavaraus-admin-content-text-color: #1a1a1a;
  --gray-light: #f7f7f8;
  --tilavaraus-admin-gray: #efeff0;
  --tilavaraus-admin-gray-darker: #f0f1f4;
  --tilavaraus-ui-gray: var(--color-black-40);
  --tilavaraus-admin-handling-count-color: #ff8003;
  /* TODO remove these variables and use the common ones directly */
  --tilavaraus-admin-font: var(--font-regular);
  --tilavaraus-admin-font-medium: var(--font-medium);
  --tilavaraus-admin-font-bold: var(--font-bold);

  --tilavaraus-admin-stack-button-stripe: 799; /* one under hds dialog backdrop */
  --tilavaraus-admin-stack-notification: 801;
  --tilavaraus-admin-stack-popup-menu: 501;
  --tilavaraus-admin-stack-main-menu: 500;
  --tilavaraus-admin-stack-sticky-reservation-header: 101;
  --tilavaraus-admin-stack-select-over-calendar: 12;
  --tilavaraus-admin-stack-calendar-header-times: 11;
  --tilavaraus-admin-stack-calendar-header-names: 10;
  --tilavaraus-stack-order-calendar-gutter: 9;
  --tilavaraus-admin-stack-calendar-buffer: 2;

  --tilavaraus-calendar-selected: var(--color-bus);
  --tilavaraus-calendar-selected-secondary: #ffe977;

  --helper-color-invalid: #b01038;

  /* button like links */
  --background-color-hover: var(--color-black-5);
  --background-color-focus: var(--color-black-5);
  --focus-outline-color: var(--color-black-80);

  /* still used in reservation calendar, not my-units */
  --tilavaraus-event-rest-border-color: #1a1a1a;
  --tilavaraus-event-rest-background: rgba(26, 26, 26, 0.1);

  /* new calendar colours for calendars in my-units page */
  --tilavaraus-event-booking-success: rgba(223, 247, 235, 0.5);
  --tilavaraus-event-booking-wish: rgba(247, 242, 228, 0.8);
  --tilavaraus-event-booking-internal: rgba(0, 0, 191, 0.1);
  --tilavaraus-event-booking-closed: rgba(76, 76, 76, 0.3);
  --tilavaraus-event-booking-break: rgba(176, 184, 191, 0.1);
  --tilavaraus-event-calendar-closed: rgba(176, 184, 191, 0.15);
  --tilavaraus-event-booking-others: rgba(176, 184, 191, 0.1);
  --tilavaraus-event-booking-past-date: rgba(176, 184, 191, 0.3);

  --tilavaraus-event-booking-success-border: var(--color-copper-dark);
  --tilavaraus-event-booking-wish-border: var(--color-gold-dark);
  --tilavaraus-event-booking-internal-border: var(--color-bus-dark);
  --tilavaraus-event-booking-closed-border: var(--color-black);

  /* Allocation calendar colours */
  --tilavaraus-allocation-calendar-colour-bg-one: #DFF7EB;
  --tilavaraus-allocation-calendar-colour-text-one: #1A1A1A;
  --tilavaraus-allocation-calendar-colour-bg-few: #FFDD82;
  --tilavaraus-allocation-calendar-colour-text-few: #1A1A1A;
  --tilavaraus-allocation-calendar-colour-bg-many: #DE9621;
  --tilavaraus-allocation-calendar-colour-text-many: #1A1A1A;
  --tilavaraus-allocation-calendar-colour-bg-full: #C85029;
  --tilavaraus-allocation-calendar-colour-text-full: #FFFFFF;
  --tilavaraus-allocation-calendar-colour-bg-none: #E5E5E5;
  --tilavaraus-allocation-calendar-colour-bg-disabled: #B2B2B2;
  --tilavaraus-allocation-calendar-colour-text-disabled: #1A1A1A;
  --tilavaraus-allocation-calendar-colour-bg-allocated: #006631;
  --tilavaraus-allocation-calendar-colour-text-allocated: #FFFFFF;
  --tilavaraus-allocation-calendar-colour-bg-allocated-elsewhere: #1A1A1A;
  --tilavaraus-allocation-calendar-colour-text-allocated-elsewhere: #FFFFFF;

  /* layout size, these are the same as HDS uses, but for forward compatibility define them here */
  --tilavaraus-page-max-width: 1440px;
}

/* override HDS variables (components define their own variables) */
* {
  --notification-z-index-toast: var(--tilavaraus-admin-stack-notification) !important;
  --header-z-index: var(--tilavaraus-admin-stack-main-menu);
  --header-max-width: var(--tilavaraus-page-max-width);
}
