<mj-spacer />

<mj-text font-size="16px">{{ with_regards | safe }}</mj-text>
<mj-text font-size="16px">{{ service_name | safe }}</mj-text>

{% include "email/html/partials/automatic_message.jinja" %}
