<mj-spacer />

<mj-text><b>{{ reservation_unit_name | safe }}</b></mj-text>
<mj-text>{{ unit_name | safe }}</mj-text>
<mj-text>{{ unit_location | safe }}</mj-text>

<mj-spacer />
<mj-text>
    {{ begins_label | safe }}: <b>{{ begin_date  }}</b> {{ o_clock_label | safe }} <b>{{ begin_time }}</b>
</mj-text>
<mj-text>
    {{ ends_label | safe }}: <b>{{ end_date  }}</b> {{ o_clock_label | safe }} <b>{{ end_time }}</b>
</mj-text>
