{% if price > 0 %}{{ reservationPrice }}: {{ price | currency }} € ({{ vatIncluded }} {{ tax_percentage }} %){% else %}{{ reservationPrice }}: 0 €{% endif %}
{{ reservationNumber }}: {{ reservation_number }}
