@import "~hds-core/lib/base.css";
@import "~hds-design-tokens/lib/all.scss";
@import "font";
@import "variables";
@import "~react-big-calendar/lib/css/react-big-calendar.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* hack to deal with iPhone user agent overriding inherited colours with apple-system-blue */
input:is([type="button"], [type="submit"], [type="reset"]),
input[type="file"]::file-selector-button,
button {
  color: black;
}

body {
  &.noScroll {
    &.scrollbarActive {
      padding-right: 16px;
    }

    overflow: hidden;
  }

  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  font-family: var(--font-default);
  font-size: 100%;
  min-width: 320px;
  color: var(--tilavaraus-admin-content-text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: var(--lineheight-l);
}

a {
  text-underline-offset: 2px;
}

#root {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}

section[aria-label="Tooltip"] {
  white-space: pre-line;
}
