@import '~hds-design-tokens/lib/all.scss';

.card {
  max-width: $container-width-m;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $spacing-m;
  align-items: start;
  padding: $spacing-m;
  margin-bottom: $spacing-s;
}

.button {
  justify-self: right;
}

.active {
  border-color: var(tilavaraus-application-period-card-active-border-color);
  background-color: var(--tilavaraus-application-period-card-active-background-color);
}

.container {
  line-height: $lineheight-xl;
  max-width: 100%;

  & .name {
    font-size: $fontsize-body-xl;
    font-weight: 500;
  }
}

.linkContainer {
  line-height: $lineheight-s;
  color: $color-bus;
  font-weight: 500;
}

.linkIcon,
.linkText {
  vertical-align: middle;
  display: inline-block;
  margin: $spacing-s $spacing-xs 0 0;

}

@media (max-width: $breakpoint-s) {
  .card {
    grid-template-columns: 2fr;
  }

  .button {
    justify-self: center;
  }
}
