@import '~hds-design-tokens/lib/all.scss';

.card {
  max-width: $container-width-m;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $spacing-m;
  align-items: start;
  padding: $spacing-m;
  margin-bottom: $spacing-s;
}

.button {
  justify-self: right;
}

.active {
  border-color: var(tilavaraus-application-period-card-active-border-color);
  background-color: var(
    --tilavaraus-application-period-card-active-background-color
  );
}

.container {
  line-height: $lineheight-xl;
  max-width: 100%;

  & .name {
    font-size: $fontsize-body-xl;
    font-weight: 500;
  }
}

#noLeftMargin {
  margin-left: 0;
  padding-left: 0;
  border-left: none;

  & > div {
    margin-left: 0;
  }
}

@media (max-width: $breakpoint-s) {
  .card {
    grid-template-columns: 2fr;
  }

  .button {
    justify-self: center;
  }
}
