.heading {
  font-size: var(--fontsize-heading-xl);
}

.container {
  background-color: var(--tilavaraus-header-background-color);
}

.content {
  padding: var(--spacing-l) var(--spacing-m) var(--spacing-m);
  max-width: var(--container-width-xl);
  margin: 0 auto var(--spacing-2-xl) auto;
  font-size: var(--fontsize-body-xl);
}

.koros {
  fill: white;
}
