.content {
  padding: var(--spacing-s) var(--spacing-s);
  max-width: var(--container-width-xl);
  margin: 0 auto var(--spacing-2-xl) auto;
  font-size: var(--fontsize-body-xl);
}

.content h1 {
  font-size: var(--fontsize-heading-xl);
}

.container {
  background-color: var(--tilavaraus-header-background-color);
}

.koros {
  fill: white;
}

.koros > svg {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 4028px;
}
