@import '~hds-design-tokens/lib/all.scss';

.buttonContainer {
  margin-top: $spacing-xl;

  & > button {
    margin-top: $spacing-m;
  }
}

.topContainer {
  margin-right: 30%;
}

.infoContainer {
  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
}

.heading {
  font-size: var(--fontsize-heading-l);
  margin-top: var(--spacing-s);
}

@media (max-width: $breakpoint-s) {
  .buttonContainer {
    display: flex;
    flex-direction: column;

    & > button {
      margin-bottom: $spacing-m;
      margin-right: 0;
    }
  }
}

.imageWithCard {
  margin-top: var(--spacing-layout-xl);
  width: 75rem;

  & > :nth-child(2) {
    height: auto;
    margin: 1em;
  }
}
