{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
    #branding {
        display: flex;
        align-items: center;
    }
    .app-version {
        padding: 2px 8px;
        border-radius: 4px;
        background: var(--selected-bg);
        color: var(--body-quiet-color);
        font-family: monospace;
        font-size: 0.75rem;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Varaamo Django admin</a></h1>
<span class="app-version">{{ version }}</span>
{% endblock %}
