<mj-spacer />

<mj-text font-size="16px">{{ automatic_message_do_not_reply | sentence | safe }}</mj-text>
<mj-text font-size="16px">{{ contact_us_html | sentence | safe }}</mj-text>
<mj-text font-size="16px">{{ reserve_city_resources_at_html | sentence | safe }}</mj-text>

<mj-spacer height="50px" />
