<div class="spacer"></div>

<p>{{ automaticMessageDoNotReply }}</p>
<p><a href={{ feedback_ext_link }}>{{ contactUs }}</a>.</p>
<p>{{ reserveCityResourcesAt }} <a href={{ varaamo_ext_link }}>{{ serviceUrl }}</a>.</p>
