<mj-spacer />

<mj-text font-size="16px">{{ automaticMessageDoNotReply }}</mj-text>
<mj-text font-size="16px"><a href="{{ feedback_ext_link }}">{{ contactUs }}</a>.</mj-text>
<mj-text font-size="16px">{{ reserveCityResourcesAt }} <a href="{{ varaamo_ext_link }}">{{ serviceUrl }}</a>.</mj-text>

<mj-spacer height="50px" />
