<mjml>
    <mj-head>
        <mj-style>
            @font-face {
                font-family: "HelsinkiGrotesk";
                src: url("{{ font_src }}") format("woff");
            }

            p {
                margin: 0;
            }

            h2 {
                font-size: 20px;
            }
        </mj-style>

        <mj-attributes>
            <mj-text line-height="1" font-weight="400" font-size="18px" padding-top="4px" padding-bottom="4px" />
            <mj-spacer height="30px" />
            <mj-all font-family="HelsinkiGrotesk" color="#000000" />
        </mj-attributes>

        <mj-title>{{ title | safe }}</mj-title>
    </mj-head>
    <mj-body background-color="#ffffff" width="960px">
        {# Header #}
        <mj-section background-color="#FFFFFF">
            <mj-group>
                <mj-column vertical-align="middle" width="25%" padding="0">
                    <mj-image align="left" padding-right="0" src="{{ helsinki_logo_url }}" />
                </mj-column>
                <mj-column vertical-align="middle">
                    <mj-text font-size="24px" align="left">
                        <b>{{ service_name | safe }}</b>
                    </mj-text>
                </mj-column>
            </mj-group>
        </mj-section>

        <mj-section background-color="#FFFFFF" padding-bottom="30px">
            <mj-column>
                <mj-text font-size="36px">
                    <b>{{ salutation | safe }}{% if email_recipient_name %} {{ email_recipient_name | safe }}{% endif %},</b>
                </mj-text>
            </mj-column>
        </mj-section>

        {# Content #}
        <mj-section background-color="#F7F2E4">
            <mj-column>
                {% block content_main %}
                    Main content
                {% endblock %}
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="0">
            <mj-column>
                {% block content_secondary %}
                    Secondary content
                {% endblock %}
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="0">
            <mj-column>
                {% block content_closing %}
                    Closing
                {% endblock %}
            </mj-column>
        </mj-section>

        {# Footer #}
        <mj-section background-color="#E6E6E6" padding-bottom="0">
            <mj-group>
                <mj-column vertical-align="middle" width="15%" padding="0">
                    <mj-image align="left" padding-right="0" src="{{ helsinki_logo_url }}" />
                </mj-column>
                <mj-column vertical-align="middle">
                    <mj-text font-size="16px" align="left">
                        <b>{{ service_name | safe }}</b>
                    </mj-text>
                </mj-column>
            </mj-group>
        </mj-section>

        <mj-section background-color="#E6E6E6">
            <mj-column>
                <mj-divider border-width="2px" border-style="solid" border-color="#CCCCCC" padding-top="0" />
                <mj-spacer height="10px" />
                <mj-text font-size="14px">&copy; {{ helsinki_city | safe }} {{ current_year | safe }}</mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
