<mjml>
    {% set helsinkiLogoUrl = "https://makasiini.hel.ninja/helsinki-logos/helsinki-logo-black.png" %}
    <mj-head>
        <mj-style>
            @font-face {
                font-family: "HelsinkiGrotesk";
                src: url("https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/565d73a693abe0776c801607ac28f0bf.woff") format("woff");
            }

            p {
                margin: 0;
            }

            h2 {
                font-size: 20px;
            }
        </mj-style>

        <mj-attributes>
            <mj-text line-height="1" font-weight="400" font-size="18px" padding-top="4px" padding-bottom="4px" />
            <mj-spacer height="30px" />
            <mj-all font-family="HelsinkiGrotesk" color="#000000" />
        </mj-attributes>

        <mj-title>{% block title %}Varaamo{% endblock %}</mj-title>
    </mj-head>
    <mj-body background-color="#ffffff" width="960px">
        {% block header %}Header{% endblock %}

        <mj-section background-color="#F7F2E4">
            <mj-column>
                {% block content_main %}
                    Main content
                {% endblock %}
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="0">
            <mj-column>
                {% block content_secondary %}
                    Secondary content
                {% endblock %}
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="0">
            <mj-column>
                {% block content_closing %}
                    Closing
                {% endblock %}
            </mj-column>
        </mj-section>

        {# Footer #}
        <mj-section background-color="#E6E6E6" padding-bottom="0">
            <mj-group>
                <mj-column vertical-align="middle" width="15%" padding="0">
                    <mj-image align="left" padding-right="0"
                              src="https://makasiini.hel.ninja/helsinki-logos/helsinki-logo-black.png" />
                </mj-column>
                <mj-column vertical-align="middle">
                    <mj-text font-size="16px" align="left">
                        <b>{{ serviceName }}</b>
                    </mj-text>
                </mj-column>
            </mj-group>
        </mj-section>
        <mj-section background-color="#E6E6E6">
            <mj-column>
                <mj-divider border-width="2px" border-style="solid" border-color="#CCCCCC" padding-top="0" />
                <mj-spacer height="10px" />
                <mj-text font-size="14px">&copy; {{ helsinkiCity }} {{ current_year }}</mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
