<mj-spacer />

<mj-text font-size="16px">{{ thankYouForUsing }}</mj-text>
<mj-text font-size="16px">{{ withRegards }}</mj-text>
<mj-text font-size="16px">{{ serviceName }}</mj-text>

{% include "email/html/partials/automatic_message.jinja" %}
