<mj-spacer />

<mj-text font-size="16px">{{ withRegards }}</mj-text>
<mj-text font-size="16px">{{ serviceName }}</mj-text>

<mj-spacer />

<mj-text font-size="16px">{{ automaticMessageDoNotReply }}</mj-text>
