<div class="footerTopRow">
    <img src="{{ helsinkiLogoUrl }}" alt="Helsinki logo" />
    <b>{{ serviceName }}</b>
</div>
<div class="spacer-line"></div>
<div class="footerBottomRow">
    &copy; {{ helsinkiCity }} {{ current_year }}
</div>