<div class="headerTopRow">
    <img src="{{ helsinkiLogoUrl }}" alt="Helsinki logo" />
    <b>{{ serviceName }}</b>
</div>
<div class="headerBottomRow">
    <b>{{ salutation }} {{ reservee_name }},</b>
</div>
