<mj-spacer />

<mj-text>
    {{ reservationPrice }}:
    {% if price > 0 %}
        {% if subsidised_price < price %}
            <b>{{ subsidised_price | currency }} &ndash; {{ price | currency }}€</b>
        {% else %}
            <b>{{ price | currency }} €</b>
        {% endif %}
        ({{ vatIncluded }} {{ tax_percentage }} %)
    {% else %}
        <b>0 €</b>
    {% endif %}
</mj-text>
<mj-text>
    {{ reservationNumber }}: {{ reservation_number }}
</mj-text>
