<mj-spacer />

<mj-text><b>{{ reservation_unit }}</b></mj-text>
<mj-text>{{ unit_name }}</mj-text>
<mj-text>{{ unit_location }}</mj-text>

<mj-spacer />
<mj-text>
    {{ reservationBegins }}: <b>{{ begin_date }}</b> {{ oClock }} <b>{{ begin_time }}</b>
</mj-text>
<mj-text>
    {{ reservationEnds }}: <b>{{ end_date }}</b> {{ oClock }} <b>{{ end_time }}</b>
</mj-text>
