<mj-spacer />

<mj-text>
    {{ price_label | safe }}:
    {% if price > 0 %}
        {% if price_can_be_subsidised %}
            <b>{{ subsidised_price | currency }} &ndash; {{ price | currency }}€</b>
        {% else %}
            <b>{{ price | currency }} €</b>
        {% endif %}
        ({{ vat_included_label | safe }} {{ tax_percentage }} %)
    {% else %}
        <b>0 €</b>
    {% endif %}
</mj-text>
<mj-text>
    {{ booking_number_label | safe }}: {{ reservation_id }}
</mj-text>
