<div class="spacer"></div>

<p><b>{{ reservation_unit }}</b></p>
<p>{{ unit_name }}</p>
<p>{{ unit_location }}</p>

<div class="spacer"></div>

<p>{{ reservationBegins }}: <b>{{ begin_date }}</b> {{ oClock }} <b>{{ begin_time }}</b></p>
<p>{{ reservationEnds }}: <b>{{ end_date }}</b> {{ oClock }} <b>{{ end_time }}</b></p>
