.circle {
  margin-left: var(--spacing-xs);
  height: var(--spacing-layout-m);
  width: var(--spacing-layout-m);
  background-color: var(--color-bus);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passiveCircle {
  background-color: var(--color-black-10);
  color: var(--color-black-50);
}

.mainContainer {
  margin-top: var(--spacing-l);
}

.nameCardContainer {
  margin-top: var(--spacing-l);
}

.cardButtonContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: var(--spacing-s);
  align-items: center;
}

.cardContainer {
  gap: var(--spacing-l);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  align-items: center;
}

.image {
  object-fit: cover;
}

.title {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
}

.address {
  font-size: var(--fontsize-body-xs);
}

.maxPersonsContainer {
  display: flex;
  justify-items: center;
  font-size: var(--fontsize-body-l);
  font-weight: bold;
}

.maxPersonsCountContainer {
  margin-left: var(--spacing-xs);
}

.deleteButton {
  --border-color: transparent;
}

.arrowContainer {
  display: flex;
}

.preCardLabel {
  font-size: var(--fontsize-heading-xs);
  font-weight: 700;
}

.buttonContainer {
  margin-top: var(--spacing-layout-m);
}
