@import '~hds-design-tokens/lib/all.scss';

.hitCount {
  font-weight: 700;
  font-size: $fontsize-heading-m;
}

.buttonContainer {
  display: flex;
  margin-top: $spacing-m;

  & > :last-child {
    margin-left: auto;
  }

  button {
    margin-right: $spacing-m;
  }
}

.button {
  margin-right: $spacing-m;
}

.listContainer {
  margin-top: $spacing-layout-s;
}

.order {
  & button {
    min-width: 11em;
  }

  & > div {
    margin-left: $spacing-m;
  }
}
