# File: tilavarauspalvelu-admin-ui/azure-pipelines.yml

# TODO this should be moved either to the repo root (if we can swap the apps with an arg)
# or to apps/admin-ui if not
# problem is that it's going to break all pipes so do it last in an independent PR
# to finalize the change the Pipeline configuration in Azure UI

# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
trigger:
  batch: false
  branches:
    include:
      - main
      - refs/tags/*
  paths:
    # TODO should use turborepo to calculate the real needed packages
    include:
      - packages/common
      - apps/ui

# By default, use self-hosted agents
pool: Default

# Opting out of pull request validation
pr: none

resources:
  repositories:
    # Azure DevOps repository
    - repository: tilavarauspalvelu-pipelines
      type: git
      # project/repository
      name: tilavarauspalvelu/tilavarauspalvelu-pipelines
      ref: turborepo

extends:
  template: azure-pipelines-tilavarauspalvelu-admin-ui.yml@tilavarauspalvelu-pipelines
