FEEDBACK_URL=
TILAVARAUS_API_URL=http://localhost:8000
PROFILE_UI_URL=https://google.com
ENABLE_CONSOLE_LOGGING=true
SKIP_ENV_VALIDATION=false
HOTJAR_ENABLED=false
MATOMO_ENABLED=false
SENTRY_ORG=city-of-helsinki
SENTRY_PROJECT=tilavarauspalvelu-customer-ui
NEXT_PUBLIC_SENTRY_PROJECT=tilavarauspalvelu-customer-ui
SENTRY_AUTH_TOKEN=
SENTRY_ENABLE_SOURCE_MAPS=false
NEXT_PUBLIC_SENTRY_TRACE_PROPAGATION_TARGETS=http://localhost:8000
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=local
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.0
NEXT_PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE=0.0
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=0.0
