FEEDBACK_URL=
TILAVARAUS_API_URL=http://localhost:8000
PROFILE_UI_URL=https://google.com
ENABLE_CONSOLE_LOGGING=true
SKIP_ENV_VALIDATION=false
HOTJAR_ENABLED=false
MATOMO_ENABLED=false
SENTRY_ORG=city-of-helsinki
SENTRY_PROJECT=tilavarauspalvelu-customer-ui
SENTRY_AUTH_TOKEN=
SENTRY_ENABLE_SOURCE_MAPS=false
SENTRY_TRACE_PROPAGATION_TARGETS=http://localhost:8000
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
SENTRY_TRACES_SAMPLE_RATE=0.0
