@import '~hds-design-tokens/lib/all.scss';

.subHeadLine {
  font-family: HelsinkiGrotesk-Bold, var(--font-default);
  margin-top: var(--spacing-layout-m);
  font-weight: 700;
  font-size: var(--fontsize-heading-m);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-layout-l);
  justify-content: flex-end;

  button {
    margin-left: var(--spacing-layout-xs);
  }
}

.twoColumnContainer {
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-m);
}

.fullWidth {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: $breakpoint-m) {
  .twoColumnContainer {
    grid-template-columns: 1fr;
  }

  .fullWidth {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
