{{ reservation_unit_name | safe }}
{{ unit_name | safe }}
{{ unit_location | safe }}

{{ begins_label | safe }}: {{ begin_date }} {{ o_clock_label | safe }} {{ begin_time }}
{{ ends_label | safe }}: {{ end_date }} {{ o_clock_label | safe }} {{ end_time }}
