@use "font";
@use "variables";

a {
  &:visited {
    color: inherit;
  }

  color: var(--color-bus);
  text-underline-offset: 0.1rem;
  text-decoration: none;
}

ul {
  padding-left: var(--spacing-m);

  li {
    line-height: var(--lineheight-l);
  }
}

// cookiehub overrides
.ch2 {
  color: hotpink;
  .ch2-dialog {
    min-width: 260px;
  }
}

@media print {
  header,
  footer {
    display: none;
  }
}
