#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!public*
!src*
!server
!nginx

#################################################
# Whitelisted files
#################################################
!.env*
!package.json
!yarn.lock
!tsconfig.json
!LICENSE
!webpack.server*
!.babel*
!tsconfig.server*
