NEXT_PUBLIC_TILAVARAUS_API_URL=http://localhost:8000
NEXT_PUBLIC_BASE_URL=/kasittely
# Secret to sign cookies and to sign and encrypt JSON Web Tokens
# You can use: openssl rand -base64 32
NEXTAUTH_SECRET=aYYHi4uOQ+j+VWnBIulLQyxEmU8Zxx3nCNry/EFIdqQ=
NEXTAUTH_URL=https://local-tilavaraus.hel.fi:3001/kasittely/api/auth
NEXT_PUBLIC_TUNNISTAMO_URL=https://tunnistamo.test.hel.ninja

OIDC_CLIENT_ID=tilavaraus-admin-ui-dev
# You can use `openssl rand -hex 32`
OIDC_CLIENT_SECRET=0eabbe2c56dc1f2d46cbaa2dd585fe372a34add4ba56070795788a0367104d0e
OIDC_URL=https://tunnistamo.test.hel.ninja/openid
OIDC_TOKEN_URL=https://tunnistamo.test.hel.ninja/openid/token
OIDC_ACCESS_TOKEN_URL=https://tunnistamo.test.hel.ninja/api-tokens/
OIDC_TILAVARAUS_API_SCOPE=https://api.hel.fi/auth/tilavarausapidev
OIDC_PROFILE_API_SCOPE=https://api.hel.fi/auth/helsinkiprofile
OIDC_SCOPE=openid profile https://api.hel.fi/auth/helsinkiprofile https://api.hel.fi/auth/tilavarausapidev
OIDC_CALLBACK_URL=https://local-tilavaraus.hel.fi:3001/kasittely/api/auth/callback/tunnistamo
NEXT_PUBLIC_OIDC_END_SESSION=https://tunnistamo.test.hel.ninja/openid/end-session
