.container {
  display: grid;
  gap: 6em;
  grid-template-columns: 2fr 5fr;
}

.navigationContainer {
  font-family: HelsinkiGrotesk-Bold, var(--font-default);
  font-size: var(--fontsize-body-l);
  font-weight: 500;
  & ul {
    list-style-type: none;
  }

  & a {
    color: var(--color-black-90);
    text-decoration: none;
  }

  & li {
    padding: 1em;
    font-weight: bold;
  }
}

.activeClass {
  & > li {
    background-color: #e8f3fc;
  }
}
