.subHeadLine {
  margin-top: var(--spacing-layout-m);
  font-weight: 700;
  font-size: var(--fontsize-heading-m);
}

// page 1
.basicInfoContainer {
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-m);
}

.fullWidth {
  grid-column-start: 1;
  grid-column-end: 3;
}

.periodContainer {
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: var(--spacing-m);
  align-items: center;
}

.ruler {
  margin-top: var(--spacing-layout-m);
}

// ReservationUnitCard

.circle {
  margin-left: var(--spacing-xs);
  height: var(--spacing-layout-m);
  width: var(--spacing-layout-m);
  background-color: var(--color-bus);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passiveCircle {
  background-color: var(--color-black-90);
  color: #e5e5e5;
}
