@import '~hds-core/lib/base.css';
@import '~hds-design-tokens/lib/all.scss';
@import 'font';
@import 'variables';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--tilavaraus-background-color);
  font-family: var(--font-default);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.heading-l {
  font-size: $fontsize-heading-l;
}

#root {
  padding: 0;
  flex-direction: row;
  justify-content: center;
}
