:root {
  --tilavaraus-header-background-color: #ffe977;
  --tilavaraus-header-color: rgb(26, 26, 26);
  --tilavaraus-background-color: white;
  --tilavaraus-content-text-color: rgb(26, 26, 26);
  --tilavaraus-footer-background-color: #00005e;
  --tilavaraus-footer-color: #f0f0f0;
  --tilavaraus-application-period-card-active-background-color: #9ef0de;
  --tilavaraus-application-period-card-active-border-color: #007a64;
  --tilavaraus-gray: #f5f6f8;
  --tilavaraus-blue: #0072c6;
  --tilavaraus-calendar-selected: var(--tilavaraus-blue);
  --font-medium: HelsinkiGrotesk-Medium, var(--font-default);
  --font-bold: HelsinkiGrotesk-Bold, var(--font-default);
  --font-medium: HelsinkiGrotesk-Medium, var(--font-default);
}
