:root {
  --tilavaraus-header-background-color: #ffe977;
  --tilavaraus-header-color: rgb(26, 26, 26);
  --tilavaraus-background-color: white;
  --tilavaraus-content-text-color: rgb(26, 26, 26);
  --tilavaraus-footer-background-color: #00005e;
  --tilavaraus-footer-color: #f0f0f0;
  --tilavaraus-application-period-card-active-background-color: #e2f5f3;
  --tilavaraus-application-period-card-active-border-color: #007a64;
  --tilavaraus-gray: #f5f6f8;
}
