{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_application_received | sentence | safe }}</mj-text>
    <mj-text>{{ text_view_application_html | sentence | safe }}</mj-text>
{% endblock %}

{% block content_secondary %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
