{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectApplicationHandled }}{% endblock %}

{% block header %}{% include "email/html/partials/header_no_recipient_name.jinja" %}{% endblock %}

{% block content %}
    <div class="main-container">
        <p>{{ applicationHandled }} <a href="{{ my_applications_ext_link }}">{{ ownApplicationPage }}</a>.</p>
    </div>

    <div class="secondary-container">
        {% include "email/html/partials/closing_polite.jinja" %}
    </div>
{% endblock %}
