{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectApplicationHandled }}{% endblock %}

{% block header %}{% include "email/html/partials/header_no_recipient_name.jinja" %}{% endblock %}

{% block content_main %}
    <mj-text>{{ subjectApplicationHandled }}.</mj-text>
    <mj-text>
        {{ applicationHandled }}
        <a href="{{ my_applications_ext_link }}">{{ ownApplicationPage }}</a>.
    </mj-text>
{% endblock %}

{% block content_secondary %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
