{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectReservationHandlingRequired }}{% endblock %}

{% block header %}{% include "email/html/partials/header.jinja" %}{% endblock %}

{% block content %}
    <div class="main-container">
        <p>{{ textReservationHandlingRequired }}</p>

        {% include "email/html/partials/reservation_basic_info.jinja" %}
        {% include "email/html/partials/reservation_price.jinja" %}
    </div>

    <div class="secondary-container">
        <p>{{ pendingNotification }}</p>

        <div class="spacer"></div>

        <h2>{{ reservationInstruction }}</h2>
        <p>{{ pending_instructions }}</p>

        {% include "email/html/partials/reservation_manage_link.jinja" %}
        {% include "email/html/partials/closing_polite.jinja" %}
    </div>
{% endblock %}
