{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_rejected | sentence | safe }}</mj-text>
    <mj-text>{{ rejection_reason_label | safe }}: {{ rejection_reason | safe }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    <mj-spacer />
    <mj-text>{{ booking_number_label | safe }}: {{ booking_number }}</mj-text>
{% endblock %}

{% block content_secondary %}
    {% include "email/html/partials/instructions.jinja" %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing.jinja" %}
{% endblock %}
