{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectReservationRejected }}{% endblock %}

{% block header %}{% include "email/html/partials/header.jinja" %}{% endblock %}

{% block content %}
    <div class="main-container">
        <p>{{ textReservationRejected }}</p>
        <p>{{ rejectionReason }}: {{ deny_reason }}</p>

        {% include "email/html/partials/reservation_basic_info.jinja" %}

        <div class="spacer"></div>
        <p>{{ reservationNumber }}: {{ reservation_number }}</p>
    </div>

    <div class="secondary-container">
        <h2>{{ rejectionInstructions }}</h2>
        <p>{{ cancelled_instructions }}</p>

        {% include "email/html/partials/closing.jinja" %}
    </div>
{% endblock %}
