{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_requires_handling | sentence | safe }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    {% include "email/html/partials/reservation_price_range.jinja" %}
{% endblock %}

{% block content_secondary %}
    <mj-text font-size="16px">{{ text_pending_notification | sentence | safe }}</mj-text>
    {% include "email/html/partials/instructions.jinja" %}
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/reservation_manage_link.jinja" %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
