{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ textReservationNeedsToBePaid }}{% endblock %}

{% block header %}{% include "email/html/partials/header.jinja" %}{% endblock %}

{% block content_main %}
    <mj-text>{{ textReservationNeedsToBePaid }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}#}
    {% include "email/html/partials/reservation_price.jinja" %}#}

    <mj-text>{{ paymentDue }}: <b>{{ payment_due_date }}</b></mj-text>
    <mj-spacer />
    <mj-text><a href="{{ my_reservations_ext_link }}">{{ payReservation }}</a></mj-text>
{% endblock %}

{% block content_secondary %}
    <mj-text><h2>{{ reservationInstruction }}</h2></mj-text>
    <mj-text font-size="16px">{{ confirmed_instructions }}</mj-text>
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/reservation_manage_link.jinja" %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
