{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectReservationCancelled }}{% endblock %}

{% block header %}{% include "email/html/partials/header.jinja" %}{% endblock %}

{% block content %}
    <div class="main-container">
        <p>{{ textReservationCancelled }}</p>
        <p>{{ cancellationReason }}: {{ cancel_reason }}</p>

        {% include "email/html/partials/reservation_basic_info.jinja" %}
        {% include "email/html/partials/reservation_price.jinja" %}
    </div>

    <div class="secondary-container">
        <h2>{{ cancellationInstructions }}</h2>
        <p>{{ cancelled_instructions }}</p>

        {% include "email/html/partials/closing.jinja" %}
    </div>
{% endblock %}
