{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectReservationHandlingRequired }}{% endblock %}

{% block header %}{% include "email/html/partials/header.jinja" %}{% endblock %}

{% block content_main %}
    <mj-text>{{ textReservationHandlingRequired }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    {% include "email/html/partials/reservation_price_range.jinja" %}
{% endblock %}

{% block content_secondary %}
    <mj-text font-size="16px">{{ pendingNotification }}</mj-text>
    <mj-text><h2>{{ reservationInstruction }}</h2></mj-text>
    <mj-text font-size="16px">{{ pending_instructions }}</mj-text>
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/reservation_manage_link.jinja" %}
    {% include "email/html/partials/closing_polite.jinja" %}
{% endblock %}
