{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_rejected | sentence | safe }}</mj-text>
    <mj-text>{{ rejection_reason_label | safe }}: {{ rejection_reason | safe }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
    <mj-spacer />
    <mj-text>{{ check_booking_details_text | safe }}: {{ check_booking_details_url_html | safe }}</mj-text>
{% endblock %}

{% block content_secondary %}{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing.jinja" %}
{% endblock %}
