{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_staff_reservation_made | safe }}: <b>{{ reservation_name | safe }}</b>.</mj-text>
    <mj-spacer />
    <mj-text>{{ reservee_name_label | safe }}: {{ reservee_name | safe }}</mj-text>
    <mj-text>{{ booking_number_label | safe }}: {{ booking_number }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
{% endblock %}

{% block content_secondary %}
    <mj-text><h2>{{ text_check_details | safe }}</h2></mj-text>
    <mj-text font-size="16px">{{ staff_reservations_ext_link_html | safe }}</mj-text>
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing_staff.jinja" %}
{% endblock %}
