{% extends "email/html/partials/base.jinja" %}

{% block content_main %}
    <mj-text>{{ text_reservation_cancelled | sentence | safe }}</mj-text>
    <mj-text>{{ cancel_reason_label | safe }}: {{ cancel_reason | safe }}</mj-text>
    {% include "email/html/partials/application_section_name.jinja" %}
{% endblock %}

{% block content_secondary %}{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing_staff.jinja" %}
{% endblock %}
