{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectStaffReservationMade }}{% endblock %}

{% block header %}{% include "email/html/partials/header_staff.jinja" %}{% endblock %}

{% block content %}
    <div class="main-container">
        <p>{{ staffReservationMade }}: <b>{{ name }}</b></p>
        <p>{{ unit }}: <b>{{ unit_name }}</b>, {{ unit_location }}</p>

        <div class="spacer"></div>

        <p>{{ reserveeName }}: {{ reservee_name }}</p>
        <p>{{ reservationNumber }}: {{ reservation_number }}</p>

        {% include "email/html/partials/reservation_datetime.jinja" %}
    </div>

    <div class="secondary-container">
        <p>
            {{ staffCheckDetailsMade }}
            <a href="{{ staff_reservations_ext_link }}{{ reservation_number }}">{{ staff_reservations_ext_link }}{{ reservation_number }}</a>
        </p>

        {% include "email/html/partials/staff_closing.jinja" %}
    </div>
{% endblock %}
