{% extends "email/html/partials/base.jinja" %}

{% block title %}{{ subjectStaffReservationMade }}{% endblock %}

{% block header %}{% include "email/html/partials/header_no_recipient_name.jinja" %}{% endblock %}

{% block content_main %}
    <mj-text>{{ textStaffReservationMade }}: <b>{{ name }}</b></mj-text>
    <mj-spacer />
    <mj-text>{{ reserveeName }}: {{ reservee_name }}</mj-text>
    <mj-text>{{ reservationNumber }}: {{ reservation_number }}</mj-text>
    {% include "email/html/partials/reservation_basic_info.jinja" %}
{% endblock %}

{% block content_secondary %}
    <mj-text><h2>{{ textStaffReservationMadeCheckDetails }}</h2></mj-text>
    <mj-text font-size="16px">
        <a href="{{ staff_reservations_ext_link }}/{{ reservation_number }}">
            {{ staff_reservations_ext_link }}/{{ reservation_number }}
        </a>
    </mj-text>
{% endblock %}

{% block content_closing %}
    {% include "email/html/partials/closing_staff.jinja" %}
{% endblock %}
