{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "customSyntax": "postcss-scss",
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "ignore": [
    "hooks",
    "cypress"
  ]
}