# File: tilavarauspalvelu-ui/azure-pipelines.yml

# Continuous integration (CI) triggers cause a pipeline to run whenever you push
# an update to the specified branches or you push specified tags.
trigger:
  branches:
    include:
    - main
    - refs/tags/*
  paths:
    exclude:
    - README.md

# By default, use self-hosted agents
pool: Default

# Opting out of pull request validation
pr: none

resources:
  repositories:
  # Azure DevOps repository
  - repository: tilavarauspalvelu-pipelines
    type: git
    # project/repository
    name: tilavarauspalvelu/tilavarauspalvelu-pipelines

extends:
  template: azure-pipelines-tilavarauspalvelu-ui.yml@tilavarauspalvelu-pipelines
