@import '~hds-design-tokens/lib/all.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-s;
  font-weight: 500;
}

.props {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-s;

  & > div > div {
    margin-top: $spacing-s;
  }
}
