ENABLE_CONSOLE_LOGGING=true
NEXT_PUBLIC_BASE_URL=/kasittely
TILAVARAUS_API_URL=http://localhost:8000
RESERVATION_UNIT_PREVIEW_URL_PREFIX=http://localhost:3000/reservation-unit
FEEDBACK_URL=
SENTRY_ORG=city-of-helsinki
SENTRY_PROJECT=tilavarauspalvelu-staff-ui
SENTRY_AUTH_TOKEN=
SENTRY_ENABLE_SOURCE_MAPS=false
SENTRY_TRACE_PROPAGATION_TARGETS=http://localhost:8000
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_REPLAYS_SESSION_SAMPLE_RATE=0.0
SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=0.0
