# Generic workflow to build a frontend application and push it to the GitHub Container Registry.
name: "Build UI docker image"

on:
  workflow_call:
    inputs:
      # Docker build arg / package name suffix: valid values are "admin-ui" or "ui"
      app-name:
        required: true
        type: string
      # Root url for the application relative to hostname
      base-url:
        required: true
        type: string

env:
  SKIP_ENV_VALIDATION: "true"
  REGISTRY: "ghcr.io"
  NODE_VERSION: 24
  PNPM_VERSION: 10

jobs:
  build-and-push:
    name: "Build and push Frontend Docker images to GitHub Packages"
    runs-on: ubuntu-latest
    env:
      BUILD_APP: ${{ inputs.app-name }}
      # Relative location for the package registry
      REPO_NAME: ${{ github.repository }}
      # Have to be build variable
      NEXT_PUBLIC_BASE_URL: ${{ inputs.base-url }}
      # required because error pages use build time env vars, not runtime env vars
      # it's the same on every environment
      EMAIL_VARAAMO_EXT_LINK: "https://lomake.hel.fi/varaamo-palaute"
      # TODO this should only be ran for release tags (v*, hotfix-*, release-*), but {{ github.event.release.tag_name }} is not correct during a run
      SENTRY_ENABLE_SOURCE_MAPS: true
      SENTRY_URL: "https://sentry.hel.fi"
      SENTRY_ORG: "city-of-helsinki"

    permissions:
      contents: read
      packages: write

    steps:
    - name: "Checkout code"
      uses: actions/checkout@v6

    - uses: pnpm/action-setup@v4
      with:
        version: ${{ env.PNPM_VERSION }}

    - uses: actions/setup-node@v6
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache-dependency-path: frontend/pnpm-lock.yaml
        cache: 'pnpm'

    - name: Install dependencies
      working-directory: frontend
      run: pnpm install --frozen-lockfile

    - uses: dtinth/setup-github-actions-caching-for-turbo@v1

    - name: Run codegen
      working-directory: frontend
      run: pnpm codegen

    - name: "Create release name"
      id: release
      run: >-
        echo "release=tilavarauspalvelu-$(echo ${{ inputs.app-name }})@$(
          echo ${{ github.ref_name || github.sha }} | tr '/' '-'
        )" >> $GITHUB_OUTPUT

    - name: "Set up Docker Buildx"
      uses: docker/setup-buildx-action@v3

    - name: "Log in to the Container registry"
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Repository name needs to be lowercase
    - name: "Create repository name"
      id: repo
      run: >-
        echo "repo=$(
          echo ${{ env.REGISTRY }}/${{ env.REPO_NAME }}-${{ env.BUILD_APP }} | tr '[:upper:]' '[:lower:]'
        )" >> $GITHUB_OUTPUT

    - name: "Extract ui metadata (tags, labels) for Docker"
      id: meta
      uses: docker/metadata-action@v5
      env:
        DOCKER_METADATA_PR_HEAD_SHA: true
      with:
        images: ${{ steps.repo.outputs.repo }}
        tags: |
          type=ref,event=tag,priority=3
          type=sha,prefix=,priority=2
          type=ref,event=branch,priority=1
        labels: |
          org.opencontainers.image.title=Tilavarauspalvelu ${{ env.BUILD_APP }}
          org.opencontainers.image.description=Tilavarauspalvelu ${{ env.BUILD_APP }} ${{ github.ref_name }}.
          org.opencontainers.image.version=${{ github.ref_name }}

    - name: "Build container"
      uses: docker/build-push-action@v6
      with:
        context: frontend/
        file: frontend/Dockerfile
        push: true
        build-args: |
          APP=${{ env.BUILD_APP }}
          NEXT_PUBLIC_BASE_URL=${{ env.NEXT_PUBLIC_BASE_URL }}
          EMAIL_VARAAMO_EXT_LINK=${{ env.EMAIL_VARAAMO_EXT_LINK }}
          NEXT_PUBLIC_SOURCE_VERSION=${{ github.sha }}
          NEXT_PUBLIC_SOURCE_BRANCH_NAME=${{ github.ref_name }}
          CI=true
          SENTRY_ENABLE_SOURCE_MAPS=${{ env.SENTRY_ENABLE_SOURCE_MAPS }}
          RELEASE_NAME=${{ steps.release.outputs.release }}
          SENTRY_PROJECT=tilavarauspalvelu-${{ inputs.app-name }}
          SENTRY_URL=${{ env.SENTRY_URL }}
          SENTRY_ORG=${{ env.SENTRY_ORG }}
        secrets: |
          "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        annotations: ${{ steps.meta.outputs.annotations }}
        # Use a shared cache to speed up builds
        cache-from: type=registry,ref=${{ steps.repo.outputs.repo }}:cache
        cache-to: type=registry,ref=${{ steps.repo.outputs.repo }}:cache,mode=max
