name: "Frontend tests"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  SKIP_ENV_VALIDATION: "true"
  NODE_VERSION: 24
  PNPM_VERSION: 10

jobs:
  lint-staff-ui:
    name: Staff ui lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache-dependency-path: frontend/pnpm-lock.yaml
          cache: "pnpm"

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile --ignore-scripts

      - uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Lint staff ui
        working-directory: frontend
        run: |
          pnpm codegen
          pnpm tsc:check --filter=staff...
          pnpm lint
          pnpm lint:css --filter=staff...
          pnpm format:check --filter=staff...

  test-staff-ui:
    name: Staff ui unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache-dependency-path: frontend/pnpm-lock.yaml
          cache: "pnpm"

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile --ignore-scripts

      - uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Test staff ui
        working-directory: frontend
        run: |
          pnpm codegen
          pnpm test --filter=staff...

  lint-customer-ui:
    name: Customer ui lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache-dependency-path: frontend/pnpm-lock.yaml
          cache: "pnpm"

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile --ignore-scripts

      - uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Lint ui
        working-directory: frontend
        run: |
          pnpm codegen
          pnpm tsc:check --filter=customer...
          pnpm lint
          pnpm lint:css --filter=customer...
          pnpm format:check --filter=customer...

  test-customer-ui:
    name: Customer ui unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache-dependency-path: frontend/pnpm-lock.yaml
          cache: "pnpm"

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile --ignore-scripts

      - uses: dtinth/setup-github-actions-caching-for-turbo@v1

      - name: Test ui
        working-directory: frontend
        run: |
          pnpm codegen
          pnpm test --filter=customer...
