:root {
  --tilavaraus-admin-brand: #00005e;
  --tilavaraus-admin-blue: var(--color-bus);
  --tilavaraus-admin-blue-dark: #040091;
  --tilavaraus-admin-status-not-handled: #0064b3;
  --tilavaraus-admin-header-background-color: var(--tilavaraus-admin-brand);
  --tilavaraus-admin-header-color: white;
  --tilavaraus-admin-background-color: white;
  --tilavaraus-admin-content-text-color: #1a1a1a;
  --gray-light: #f7f7f8;
  --tilavaraus-admin-gray: #efeff0;
  --tilavaraus-admin-gray-darker: #f0f1f4;
  --tilavaraus-ui-gray: var(--color-black-40);
  --tilavaraus-admin-handling-count-color: #ff8003;
  --container-width-xxl: 1440px;
  --container-width-small: 944px;
  --main-menu-width: 200px;
  --ingress-container-width: 1080px;
  --tilavaraus-admin-font: "HelsinkiGrotesk", var(--font-default);
  --tilavaraus-admin-font-medium: "HelsinkiGrotesk-Medium", var(--font-default);
  --tilavaraus-admin-font-bold: "HelsinkiGrotesk-Bold", var(--font-default);
  --tilavaraus-admin-stack-modal: 1000;
  --tilavaraus-admin-stack-seranwrap: 900;
  --tilavaraus-admin-stack-dialog: 800;
  --tilavaraus-admin-stack-button-stripe: 799; /* one under hds dialog backdrop */
  --tilavaraus-admin-stack-notification: 801;
  --tilavaraus-admin-stack-sticky-header: 700;
  --tilavaraus-admin-stack-main-menu: 500;
  --tilavaraus-admin-stack-sticky-reservation-header: 101;
  --tilavaraus-admin-stack-sticky-filters: 5;
  --tilavaraus-admin-stack-calendar-buffer: 2;
  --tilavaraus-admin-stack-select-over-calendar: 11;
  --tilavaraus-admin-stack-calendar-title-cells: 10;
  --tilavaraus-stack-order-calendar-gutter: 9;
  --tilavaraus-calendar-selected: var(--color-bus);
  --tilavaraus-calendar-selected-secondary: #ffe977;
  --font-regular: HelsinkiGrotesk, var(--font-default);
  --font-medium: HelsinkiGrotesk-Medium, var(--font-default);
  --font-bold: HelsinkiGrotesk-Bold, var(--font-default);
  --prose-width: 66ch;

  --helper-color-invalid: #b01038;

  /* button like links */
  --background-color-hover: var(--color-black-5);
  --background-color-focus: var(--color-black-5);
  --focus-outline-color: var(--color-black-80);

  /* still used in reservation calendar, not my-units */
  --tilavaraus-event-rest-border-color: #1a1a1a;
  --tilavaraus-event-rest-background: rgba(26, 26, 26, 0.1);

  /* new calendar colours for calendars in my-units page */
  --tilavaraus-event-booking-success: rgba(223, 247, 235, 0.5);
  --tilavaraus-event-booking-wish: rgba(247, 242, 228, 0.8);
  --tilavaraus-event-booking-internal: rgba(0, 0, 191, 0.1);
  --tilavaraus-event-booking-closed: rgba(76, 76, 76, 0.3);
  --tilavaraus-event-booking-break: rgba(176, 184, 191, 0.2);
  --tilavaraus-event-calendar-closed: rgba(176, 184, 191, 0.15);
  --tilavaraus-event-booking-others: rgba(176, 184, 191, 0.1);
  --tilavaraus-event-booking-past-date: rgba(176, 184, 191, 0.3);

  --tilavaraus-event-booking-success-border: var(--color-copper-dark);
  --tilavaraus-event-booking-wish-border: var(--color-gold-dark);
  --tilavaraus-event-booking-internal-border: var(--color-bus-dark);
  --tilavaraus-event-booking-closed-border: var(--color-black);
}
